body{
    background-color: rgb(173, 199, 230);
}
.card-body1{
    background-image: url("temp1.jpg");
    background-size: cover;
    height: 200px;
}
.card-body2{
    background-image: url('clouds.jpg');
    background-size: cover;
    height: 200px;    
}
.card-body3{
    background-image: url("wind.jpg");
    background-size: cover;
    height: 200px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
  
footer p {
    margin: 0;
}
.bg-body-tertiary {
    background-color: rgb(194, 17, 194);
}
.card-header{
    background-color: #fff;
}